<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656773297356-eorc44q4s9sadtrpkrd9410q3q25fb2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656773297356-eorc44q4s9sadtrpkrd9410q3q25fb2r</string>
	<key>API_KEY</key>
	<string>AIzaSyCwuFyoWz9a-FZx3Pc_KZ46Tv-X9teIrqY</string>
	<key>GCM_SENDER_ID</key>
	<string>656773297356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chapp.chappApp</string>
	<key>PROJECT_ID</key>
	<string>chapp-694aa</string>
	<key>STORAGE_BUCKET</key>
	<string>chapp-694aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656773297356:ios:8da08ce43cf77e9ad8fe69</string>
	<key>DATABASE_URL</key>
	<string>https://chapp-694aa.firebaseio.com</string>
</dict>
</plist>